/* scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(0, 0, 0, 0) !important;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0) !important;
    background: transparent !important;
}

::-webkit-scrollbar-corner {
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    background-color: color-mix(in srgb, var(--muted-color) 45%, transparent);
    border-radius: 100px;
    border: 2px solid var(--social-icon-bg);
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--muted-color);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--link-color);
}